-content_for :breadcrumb do
  %li= link_to 'Categories', categories_path
.row
  .col-xs-9
    %h3
      = category.name
      = link_to content_tag(:span,'',class:'glyphicon glyphicon-edit'), edit_category_path(category) if current_user.try(:admin?)
    %p
      - if category.products.empty?
        %p No products
      - else
        %table.table.table-striped
          %tr
            %th Product
            %th Description
            %th Price
            %th User
            %th
            %th

          - products.each do |product|
            %tr
              %td= link_to product.title, category_product_path(product.category, product)
              %td= product.description
              %td.text-right= product.price
              %td= product.author
              %td= link_to content_tag(:span,'',class:'glyphicon glyphicon-edit'), edit_category_product_path(product.category, product) if product.owner?(current_user)
              %td= link_to content_tag(:span,'',class:'glyphicon glyphicon-remove'), category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' } if product.owner?(current_user)

  .col-xs-3
    -if current_user
      %h3 New product
      = render 'products/form'

