%h1 Listing products

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th Price
    %th Owner
    %th
    %th
    %th

  - products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td.text-right= product.price
      %td= product.author
      %td= link_to 'Show', category_product_path(product.category, product)
      %td= link_to content_tag(:span,'',class:'glyphicon glyphicon-edit'), edit_category_product_path(product.category, product) if product.owner?(current_user)
      %td= link_to content_tag(:span,'',class:'glyphicon glyphicon-remove'), category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' } if product.owner?(current_user)
%br
