-content_for :breadcrumb do
  %li= link_to 'Categories', categories_path
  %li= link_to category.name, category
%p
  %b Title:
  = product.title
  - if product.owner?(current_user)
    = link_to content_tag(:span,'',class:'glyphicon glyphicon-edit'), edit_category_product_path(category.id, product.id)
    = link_to content_tag(:span,'',class:'glyphicon glyphicon-remove'), category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category:
  = product.category.name

%p
  %b Reviews:
  = render reviews
  -if current_user
    %b Add review
    = render 'reviews/form'
