= simple_form_for [category, product, review] do |f|
  = f.error_notification
  = f.text_area :content, size: "80x10",label: "Add Review"
  = f.input :rating, input_html: {class: 'rating', 'data-max'=> "5", 'data-min'=>"1"}
  = f.button :submit

